# requirements.txt - Package Dependencies
#
#  This file lists the necessary Python packages required to run this project.
#
#  To automatically download and install the specified package versions,
#  run the following command in your terminal or command prompt:
#
#  pip install -r requirements.txt
#
#  Note: It is recommended to install packages within a virtual environment to avoid conflicts with other project dependencies.
#  Read more here: https://code.visualstudio.com/docs/python/environments

#scikit-learn>=1.3.0 <- Version 0.24.2 already installed in paperspace box
#tensorflow>=2.13.0 <- Version 2.5.0 already installed in paperspace box
matplotlib>=3.5.3	# Version which works in paperspace box
numpy>=1.23.2		# Version which works in paperspace box
pandas>=1.4.4		# Version which works in paperspace box
pyyaml>=5.4.1		# Version which works in paperspace box
keras_tuner>=1.3.5	# Version which works in paperspace box
